schema_people.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="people">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="person" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="surname"/>
              <xs:element name="age">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:minInclusive value="16"/>
						<xs:maxInclusive value="100"/>
					</xs:restriction>
				</xs:simpleType>
			  </xs:element>
              <xs:element name="gender">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Male"/>
						<xs:enumeration value="Female"/>
					</xs:restriction>
				</xs:simpleType>
			  </xs:element>
              <xs:element type="xs:string" name="rank"/>
              <xs:element type="xs:int" name="salary"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>